*{
    box-sizing: border-box;
}
h1{
    color:blue;
}
td{
    border:black solid 2px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    width:100px;
    height: 100px;
    background-color: rgb(101, 21, 204);
    color:white;
}
.btns{
   display: flex;
   justify-content: center;
   margin-top: 20px;
}
#b1{
    margin-right: 30px;
}