*{
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    color:brown;
}
td{
    border:black solid 2px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    width:100px;
    height: 100px;
    background-color: rgb(101, 21, 204);
    color:white;
}
.btns{
    display: flex;
   justify-content: center;
   margin-top: 20px;
}
#b1, #b2, #b3, #b4{
    margin:10px;
}
.score{
    width: 200px;
    height: 100px;
    position:fixed;
    right:0;
    bottom: 0;
    background-color:rgba(77, 77, 240, 0.747);
    color:white;
    text-align: center;
    display:none;
}
.Shead{
    background-color: hotpink;
    padding:10px 0;
}
.tour-winning{
    position: fixed;
    top:0;
    bottom: 0;
    right:0;
    left:0;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 80%;
    color:white;
    font-size: 3em;
    flex-direction: column;
    display: none;
}
#overAll{
    color:red;
}